<div class="col mt-4">
    {{#if err}}
        <div class="home-txtbox text-dark d-block bg-white p-4">
            <div class="mx-4 my-4 px-4 text-center">
                <h4>Oops!</h4>
                <p>Something went wrong...</p>
            </div>
        </div>
    {{else}}
    <div id="resultsCarousel" class="carousel slide carousel-fade" data-wrap="false" data-interval="false">
        <div class="carousel-inner text-dark">
            <div class="carousel-item active bg-white p-4">
                <div class="mx-4 my-4 px-4">
                    OooOooOOOOoOooOOo<br>
                </div>
            </div>
            <div class="carousel-item bg-white p-4">
                <div class="mx-4 my-4 px-4">
                    Oops! Looks like you caught me XD... sometimes us ghosts do that when we are longing for our lives hehe<br>
                </div>
            </div>
            <div class="carousel-item bg-white p-4">
                <div class="mx-4 my-4 px-4">
                    Anywayssss I'm Spook and I'm going to be taking you on a journey to get to know your living listening habits... are you ready to see my psychic abilies?<br>
                </div>
            </div>
            <div class="carousel-item bg-white p-4">
                <div class="mx-4 my-4 px-4">
                    Here we go!<br>
                </div>
            </div>
            <div class="carousel-item bg-white p-4">
                <div class="mx-4 my-4 px-4">
                    Hmm<sup>m<sup>m<sup>m<sup>m...</sup></sup></sup></sup> I see.<br>
                </div>
            </div>
            <div class="carousel-item bg-white p-4">
                <div class="mx-4 my-4 px-4">
                    You sure listen to {{topArtists.0.name}} a lot.<br>
                    Are you trying to get them to notice you or something? I can haunt them if you'd like :)<br>
                </div>
            </div>
            <div class="carousel-item bg-white p-4">
                <div class="mx-4 my-4 px-4">
                    You've been circulating
                    "{{topTracks.0.name}}" by
                    {{#ifGreater topTracks.0.artists.length 1}}
                        {{#each topTracks.0.artists}}{{#if @last}}{{this.name}}{{else}} {{this.name}}, {{/if}}{{/each}}
                    {{else}}
                        {{topTracks.0.artists.0.name}}
                    {{/ifGreater}}
                     a lot! Be careful you don't overplay it and run it into the grave. Although, I could definitely use the company XD<br>
                </div>
            </div>
            <div class="carousel-item bg-white p-4">
                <div class="mx-4 my-4 px-4">
                    Now let's see how popular the music you listen to is.<br>
                    {{#ifGreater popularityAvg 50}}
                        I'm sensing that you're into the popular stuff... You would be a good DJ for a monster mash!<br>
                    {{else}}
                        This spectre spectates that your music is mostly obscure!<br>
                    {{/ifGreater}}
                    I'd probably give you a {{popularityAvg}}/100 on the popularity scale.<br>
                </div>
            </div>
            <div class="carousel-item bg-white p-4">
                <div class="mx-4 my-4 px-4">
                    I had a really good time with you today. We should listen to some haunting bops together some day... <br>
                    My favorite band is Dead Man's Bones.<br>
                    I know I'll see you again someday but until then, farewell my friend &#60;3
                </div>
            </div>
            <div class="carousel-item bg-white p-4 text-left">
                <div class="ml-3 mr-4 my-1 px-1">
                    <h4>Your Top Artists</h4>
                    <ol>
                        {{#each topArtists}}
                        <li>
                            <a class="btn btn-outline-dark btn-sm my-1" href="{{this.external_urls.spotify}}"><b>{{this.name}}</b> {{#if this.genres}}
                                {{#ifGreater this.genres.length 1}} | {{#each this.genres}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}
                                {{else}} | {{this.genres}}
                                {{/ifGreater}}
                            {{/if}}</a>
                        </li>
                        {{/each}}
                    </ol>
                </div>
            </div>
            <div class="carousel-item bg-white p-4 text-left">
                <div class="ml-3 mr-4 my-1 px-1">
                    <h4>Your Top Songs</h4>
                    <ol>
                        {{#each topTracks}}
                        <li>
                            <a class="btn btn-outline-dark btn-sm my-1" href="{{this.external_urls.spotify}}"><b>{{this.name}}</b> by <b>
                                {{#ifGreater this.artists.length 1}}{{#each this.artists}}{{#if @last}}{{this.name}}{{else}} {{this.name}}, {{/if}}{{/each}}
                                {{else}}{{this.artists.0.name}}
                                {{/ifGreater}}
                            </b></a>
                        </li>
                        {{/each}}
                    </ol>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#resultsCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#resultsCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    {{/if}}
</div>
<div class="mt-4 mx-auto d-flex justify-content-end">
    <!-- source: https://www.cleanpng.com/png-pixel-art-animated-film-ghost-2224466/ -->
    <img class="ghost-mobile w-50" src="ghost.png" alt="">
</div>
